body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    background-color: #00ff9d;
    color: #007e0a;
}
h1 {
    color: #00a800;
    font-size: 36px;
    font-family: Georgia, serif;
    animation: color-change 3s infinite;
    text-shadow: 0px 0px 9px rgb(0, 192, 0);
    
}
img:hover {
   border: 1px solid #164d00
}
li:hover {
    color: #00a800;
}
p:hover {
    color: #00a800;
}

@keyframes color-change {
  0%   { color: rgb(29, 90, 0);}
  25%  { color: rgb(52, 165, 0);}
  50%  { color: rgb(52, 165, 0);}
  75%  { color: rgb(52, 165, 0);}
  90%  { color: rgb(52, 165, 0);}
  100%  { color: rgb(52, 165, 0);}
}
